<%= form_for(@verantwortlichkeiten) do |f| %>
  <% if @verantwortlichkeiten.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@verantwortlichkeiten.errors.count, "error") %> prohibited this verantwortlichkeiten from being saved:</h2>

      <ul>
      <% @verantwortlichkeiten.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :arbeitspaketid, :value=>@apid, :readonly=>true %>
  </div>
  <div class="field">
    <%= f.label :RessourceID %><br>
    <%= f.collection_select :ressourceid, Ressourcen.all, :id, :ressourcename   %>
  </div>
  <div class="field">
    <%= f.label :Intensitaet %><br>
    <%= f.text_field :intensitaet ,:id => "intensitaet"%>
  </div>
  <div class="field">
    <%= f.submit %>
  </div>
<% end %>
