<%= form_for(@verantwortlichkeiten) do |f| %>
  <% if @verantwortlichkeiten.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@verantwortlichkeiten.errors.count, "error") %> prohibited this verantwortlichkeiten from being saved:</h2>

      <ul>
      <% @verantwortlichkeiten.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ArbeitspaketID %><br>
    <%= f.text_field :arbeitspaketid %>
  </div>
  <div class="field">
    <%= f.label :RessourceID %><br>
    <%= f.text_field :ressourceid %>
  </div>
  <div class="field">
    <%= f.label :Intensitaet %><br>
    <%= f.text_field :intensitaet %>
  </div>
  <div class="field">
    <%= f.label :Beschreibung %><br>
    <%= f.text_field :beschreibung %>
  </div>
  <div class="field">
    <%= f.label :Ressourcen_RessourcenID %><br>
    <%= f.text_field :ressourcen_ressourcenid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
