

<%= form_for(@verantwortlichkeiten) do |f| %>
  <% if @verantwortlichkeiten.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@verantwortlichkeiten.errors.count, "error") %> prohibited this verantwortlichkeiten from being saved:</h2>

      <ul>
      <% @verantwortlichkeiten.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <% end %>


<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title" style ="font-family: FontAwesome;font-weight: bold;">Ressourcen bearbeiten</h2>
  </div>
  <div class="panel-body">




<% if @overmax %> 
 	<% flash[:error] ="Kapazität für Ressource überschreitet das verfügbare Maximum!" %>
<% end %>

<table>
	<% @vressourcens.each do |verantwortlichkeiten| %>
	  <% @ressourcens = Ressourcen.find(:all, :conditions => [ "id = ?", verantwortlichkeiten.ressourceid ]) %>
	  <tr>
	    <td style="vertical-align: middle;font-family: FontAwesome;font-weight: bold;"> 
	      <%= @ressourcens.first.ressourcename %>
	    </td>
	    <td style="vertical-align: middle;font-family: FontAwesome;font-weight: bold;">
	      <%= @ressourcens.first.ressourcefunktion %>
	    </td>
	    <td style="vertical-align: middle;font-family: FontAwesome;font-weight: bold;">
	      <%= verantwortlichkeiten.intensitaet %>
	    </td>
	    <td>
	       <%= link_to "", verantwortlichkeiten_path(:id=>verantwortlichkeiten.id, :intensitaet=>3, :ressourceid=>verantwortlichkeiten.ressourceid), method: :delete, :confirm=>"Are you sure?",:class => "btn btn-danger icon-trash"  %>            
	    </td>
	  </tr>
	<% end %>
</table>
<br>
<%= render 'form' %>
</div>
<%= link_to 'Zurück', verantwortlichkeitens_path(:id=>params[:pid] ) , 'data-no-turbolink' => true%>