<h1>Ressourcen bearbeiten</h1>

<% if @overmax %> 
 	<% flash[:error] ="Kapazit채t f체r Ressource 체berschreitet das verf체gbare Maximum!" %>
<% end %>

<table>
	<% @vressourcens.each do |ressource| %>
	  <% @ressourcens = Ressourcen.find(:all, :conditions => [ "id = ?", ressource.ressourceid ]) %>
	  <tr>
	    <td> 
	      <%= @ressourcens.first.ressourcename %>
	    </td>
	    <td>
	      <%= @ressourcens.first.ressourcefunktion %>
	    </td>
	    <td>
	      <%= ressource.intensitaet %>
	    </td>
	    <td>
	    
	      <%= button_to'Loeschen', ressource, :method=> :delete, :class=>"btn btn-danger btn-mini icon-white "%>
	    <td>
	  </tr>
	<% end %>
</table>
<br>
<%= render 'form' %>

<%= link_to 'Back', verantwortlichkeitens_path %>
