  <link rel="stylesheet" href="../assets/stylesheets/bootstrap.min.css"/>
  <link rel="stylesheet" href="../assets/stylesheets/jquery.jOrgChart.css"/>

  <link href="../assets/css/prettify.css" type="text/css" rel="stylesheet" />

  <script type="text/javascript" src="../assets/javascripts/prettify.js"></script>
  <script src="../assets/javascripts/jquery.jOrgChart.js"></script>
  <script type="text/javascript" src="/assets/bootstrap.js?body=1"></script>

<h1>Ressourcen bearbeiten</h1>

<% if @overmax %> 
 	<% flash[:error] ="Kapazit채t f체r Ressource 체berschreitet das verf체gbare Maximum!" %>
<% end %>

<table>
	<% @vressourcens.each do |verantwortlichkeiten| %>
	  <% @ressourcens = Ressourcen.find(:all, :conditions => [ "id = ?", verantwortlichkeiten.ressourceid ]) %>
	  <tr>
	    <td> 
	      <%= @ressourcens.first.ressourcename %>
	    </td>
	    <td>
	      <%= @ressourcens.first.ressourcefunktion %>
	    </td>
	    <td>
	      <%= verantwortlichkeiten.intensitaet %>
	    </td>
	    <td>
	       <%= button_to "Delete", verantwortlichkeiten_path(:id=>verantwortlichkeiten.id, :intensitaet=>3, :ressourceid=>verantwortlichkeiten.ressourceid), method: :delete, :confirm=>"Are you sure?" %>            
	    </td>
	  </tr>
	<% end %>
</table>
<br>
<%= render 'form' %>

<%= link_to 'Back', verantwortlichkeitens_path %>
