<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title" style ="font-family: FontAwesome;font-weight: bold;">Registrieren</h2>
  </div>
  <div class="panel-body">

<%= form_for(resource,:as => resource_name, :url => registration_path(resource_name), :html => {:id => "uform"}) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div>


  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>

  <%= f.hidden_field :roleid, :readonly=>true, :value=>2 %></div>


  <div><%= f.submit "Sign up" %></div>
<% end %>
</div>


