<%= form_for(@ressourcen) do |f| %>
  <% if @ressourcen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ressourcen.errors.count, "error") %> prohibited this ressourcen from being saved:</h2>

      <ul>
      <% @ressourcen.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Ressourcename %><br>
    <%= f.text_field :ressourcename %>
  </div>
  <div>
    <%= f.label :Funktion %><br>
    <%= f.collection_select :ressourcefunktion, Ressourcefunction.all, :id, :name, :include_blank => true   %>
  </div>
  <div class="field">
    <%= f.label :Ressourcebeschreibung %><br>
    <%= f.text_field :ressourcebeschreibung %>
  </div> 
  <div>
    <%= f.label :Ressourceart %><br>
    <%= f.select :ressourceart, [['Arbeit','Arbeit'],['Material','Material'] ] %>
  </div>
  <div class="field">
    <%= f.label :Ressourcekuerzel %><br>
    <%= f.text_field :ressourcekuerzel %>
  </div>
  <div class="field">
    <%= f.label :Ressourcegenerisch %><br>
    <%= f.check_box :ressourcegenerisch %>
  </div>
  <div class="field">
    <%= f.label :Ressourcemax %><br>
    <%= f.text_field :ressourcemax %>
  </div>
  <div class="fields">
    <%= f.submit %>
  </div>
<% end %>


