<h1>Ressourcenverwaltung</h1><br>

  <div class="container">
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close" data-dismiss="alert">x</a>
      <%= msg  %>
      </div>
    <% end %>
  </div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Funktion</th>
      <th>Beschreibung</th>
      <th>Art</th>
      <th>Kuerzel</th>
      <th>Gen.</th>
      <th>Kapazität</th>
      <th>Kosten</th>
      <th> </th>
      <th> </th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
    <% @ressourcens.each do |ressourcen| %>
      <tr class="table-striped">
        <td><%= link_to ressourcen.ressourcename, ressourcen %></td>
        <td><%= ressourcen.ressourcefunktion %></td>
        <td><%= ressourcen.ressourcebeschreibung %></td>
        <td><%= ressourcen.ressourceart %></td>
        <td><%= ressourcen.ressourcekuerzel %></td>
        <td><%= ressourcen.ressourcegenerisch %></td>
        <td><%= ressourcen.ressourcemax %></td>
        <td><%= ressourcen.kosten %></td>
        <td><%= link_to 'Destroy', ressourcen, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ressource anlegen', new_ressourcen_path, :class =>'btn btn-lg btn-success ' %>
<%= link_to 'Benutzerkonto zuordnen', new_ressourcen_path(:useraccount=>'true'), :class => 'btn btn-lg btn-success ' %>

