<h1>Ressource Allocation Matrix</h1>

    <div class="container">
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close" data-dismiss="alert">x</a>
      <%= msg  %>
      </div>
    <% end %>
  </div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Funktion</th>
      <th>Beschreibung</th>
      <th>Art</th>
      <th>Kuerzel</th>
      <th>Gen.</th>
      <th>Kapazität</th>
      <th>Gruppe</th>
      <th>Kosten</th>
      <th> </th>
      <th> </th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
    <% @ressourcens.each do |ressourcen| %>
      <tr>
        <td><%= ressourcen.ressourcename %></td>
        <td><%= ressourcen.ressourcefunktion %></td>
        <td><%= ressourcen.ressourcebeschreibung %></td>
        <td><%= ressourcen.ressourceart %></td>
        <td><%= ressourcen.ressourcekuerzel %></td>
        <td><%= ressourcen.ressourcegenerisch %></td>
        <td><%= ressourcen.ressourcemax %></td>
        <td><%= ressourcen.gruppen_id %></td>
        <td><%= ressourcen.kosten %></td>
        <td><%= link_to 'Show', ressourcen %></td>
        <td><%= link_to 'Edit', edit_ressourcen_path(ressourcen) %></td>
        <td><%= link_to 'Destroy', ressourcen, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ressource anlegen', new_ressourcen_path %>
<%= link_to 'Benutzerkonto zuordnen', new_ressourcen_path(:useraccount=>'true') %>

