<%= form_for(@projekte) do |f| %>
  <% if @projekte.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@projekte.errors.count, "error") %> prohibited this projekte from being saved:</h2>

      <ul>
      <% @projekte.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :kosten %><br>
    <%= f.text_field :kosten %>
  </div>
  <div class="field">
    <%= f.label :projektstart %><br>
    <%= f.date_select :projektstart %>
  </div>
  <div class="field">
    <%= f.label :projektende %><br>
    <%= f.date_select :projektende %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
