<%- model_class = Projekte -%>
 
 <div class="container">
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close" data-dismiss="alert">x</a>
      <%= msg  %>
      </div>
    <% end %>
  </div>

<h1>Listing projektes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Kosten</th>
      <th>Projektstart</th>
      <th>Projektende</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projektes.each do |projekte| %>
      <tr>
        <td><%= projekte.name %></td>
        <td><%= projekte.status %></td>
        <td><%= projekte.kosten %></td>
        <td><%= projekte.projektstart %></td>
        <td><%= projekte.projektende %></td>
        <td><%= link_to 'Show', projekte %></td>
        <td><%= link_to 'Edit', edit_projekte_path(projekte) %></td>
        <td><%= link_to 'Destroy', projekte, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Projekte', new_projekte_path %>
