<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @projekte.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @projekte.status %>
</p>

<p>
  <strong>Kosten:</strong>
  <%= @projekte.kosten %>
</p>

<p>
  <strong>Projektstart:</strong>
  <%= @projekte.projektstart %>
</p>

<p>
  <strong>Projektende:</strong>
  <%= @projekte.projektende %>
</p>

<%= link_to 'Edit', edit_projekte_path(@projekte) %> |
<%= link_to 'Back', projektes_path %>
