      <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
                                          <script type="text/javascript" src="/assets/jquery.js?body=1"></script>
                                   <script type="text/javascript" src="/assets/bootstrap.js?body=1"></script>
    <!-- Jumbotron -->
    <% if current_user %>
      <h1> Willkommen </h1><br><br>
      <h4> Liste ihrer aktuell zugewiesenen Arbeitspakete </h4>

      <br>
      <table class="table table-striped">
        <tr>
          <th> Projekt </th>
          <th> Arbeitspaketname </th>
          <th> Vorgaenger </th>
          <th> Beginn </th>
          <th> Ende </th>
        </tr>

        <% if !@eigene_verant.empty? %>
          <% @eigene_verant.each do |ev| %>
            <tr>
              <% @eigenes_ap = Arbeitspaket.find(:all, :conditions=> [" id = ?", ev.arbeitspaketid]) %>
              <!--------------- Projekt -->
              <td>
                <% @aufgabeid= eigenes_ap.first.aufgabeid %>
                <% @aufgabe = Aufgaben.find(:all, :conditions=>["id", @aufgabeid]).first %>
                <% @projekt = Projekte.find(:all, conditions=>["id = ?", @aufgabe.projektsid]) %>  
                <%= @projekt.projektname %> 
              </td>
              <!--------------- Arbeitspaketname -->
              <td> <%= @eigenes_ap.first.arbeitspaketname %> </td>
              <td> 
                
                <!------------- Vorgänger ------>           
                <% @vorgaenger = Arbeitspaketvorgaenger.find(:all,:conditions => [ "apid = ?", ev.arbeitspaketid]) %>           
                <ul>           
                  <%@vorgaenger.each do |v| %>             
                    <% @vorgaengername =Arbeitspaket.find(:all, :conditions => [ "id = ?", v.apvorgaengerid]) %>
                    <li><%= @vorgaengername.first.arbeitspaketname %></li>           
                  <% end %>
                </ul>         
              </td> 
              
              <!------------ Beginn des AP -->
              <% @aufgabe = Aufgaben.find(:all, :conditions=> ["id=?", @eigenes_ap.first.id]) %>
              <% @projekt = Projekt.find(:all, :conditions=> ["id=?", @aufgabe.first.projektsid]).first %>
              <% @startdate = Date.parse @projekt.projektstart  %>
              <td> <%= @startdate + @ap_map.fetch( @eigenes_ap.first.id)%> </td>
              
              <!------------ Ende  des AP ---->
              <td> <%= @startdate + @ap_map.fetch( @eigenes_ap.first.id)+@eigenes_ap.first.arbeitspaketdauer%> </td>
            </tr>
          <% end %> 
        <% else %>
          <tr> 
            <td><i> <%= "keine" %> </i></td>
            <td><i> <%= "keine" %> </i></td>
            <td><i> <%= "keine" %> </i></td>
            <td><i> <%= "keine" %> </i></td>
            <td><i> <%= "keine" %> </i></td>
          </tr>
        <% end %>
      </table>

      <br>
    <% else %>


  


       
 <div style="vertical-align:middle; align=center ; position:auto"  >
   
   <p align="center"><%= image_tag("shutterstock.jpg", height: '300', width: '300', :align=> "middle") %>
   </p> 

      </div>
      <hr>
      <!-- Example row of columns -->
      <div class="row-fluid">
        <div class="span4 well">
          <h3>Über Uns</h3>
          <p>Wir sind ein junges Team aus Wirtschaftsinformatikern von der FH- Münster, die die Welt ein bisschen einfacher machen wollen.</p>
        </div>
        <div class="span4 well">
          <h3>Das Produkt</h3>
          <p>Mit ProjektManager2014 können Sie ganz einfach Projekte erstellen und verwalten. 
            Das Rollensystem bietet die Möglichkeit das Projekt von allen Teammitgliedern einsehbar 
            zu gestalten. </p>
       </div>
        <div class="span4 well">
          <h3>Kontakt</h3>
          <p>Fachhochschule Münster<br>Johann-Krane-Weg 21-27<br>48149 Münster<br><br>
            Björn Simon (123456)<br>
            Tim Kentel (123456)<br>
            Lars Siegers (695191)</p>
        </div>
      </div>
      <hr>
    <% end %>
    <div class="footer-fluid">
      <!-- <p>&copy; Projektmanagement 2013</p> -->
    </div>


