<%= form_for(@arbeitspaket) do |f| %>
  <% if @arbeitspaket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@arbeitspaket.errors.count, "error") %> prohibited this arbeitspaket from being saved:</h2>

      <ul>
      <% @arbeitspaket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :arbeitspaketname %><br>
    <%= f.text_field :arbeitspaketname %>
  </div>
  <div class="field">
    <%= f.label :arbeitspaketbeschreibung %><br>
    <%= f.text_field :arbeitspaketbeschreibung %>
  </div>
  <div class="field">
    <%= f.label :arbeitspaketverantwortlicher %><br>
    <%= f.text_field :arbeitspaketverantwortlicher %>
  </div>
  <div class="field">
    <%= f.label :arbeitspaketdauer %><br>
    <%= f.text_field  :arbeitspaketdauer %>
  </div>
  <div>
    <%= f.label :ArbeitspaketTyp %><br>
    <%= f.select :arbeitspakettyp, [['Standard','Standard'],['Milestone','Milestone'],['Release','Release']] %>
  </div>
  <div class="field">
    <%= f.label :eingangsdokumente %><br>
    <%= f.text_field :arbeitspaketeingangsdokumente %>
  </div>
  <div class="field">
    <%= f.label :ausgangsdokumente %><br>
    <%= f.text_field :arbeitspaketausgangsdokumente %>
  </div>
  <div class="field">
    <%= f.label :aufgabeid %><br>
    <%= f.number_field :aufgabeid, :value => @aid, :readonly=> true%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
