<%= form_for(@arbeitspaket) do |f| %>
  <% if @arbeitspaket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@arbeitspaket.errors.count, "error") %> prohibited this arbeitspaket from being saved:</h2>

      <ul>
      <% @arbeitspaket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :arbeitspaketname %><br>
    <%= f.text_field :arbeitspaketname %>
  </div>
  <div class="field">
    <%= f.label :arbeitspaketbeschreibung %><br>
    <%= f.text_field :arbeitspaketbeschreibung %>
  </div>
  <div class="field">
    <%= f.label :arbeitspaketverantwortlicher %><br>
    <%= f.text_field :arbeitspaketverantwortlicher %>
  </div>
  <div class="field">
    <%= f.label :arbeitspaketbeginn %><br>
    <%= f.date_select :arbeitspaketbeginn %>
  </div>
  <div class="field">
    <%= f.label :arbeitspaketdauer %><br>
    <%= f.date_select :arbeitspaketdauer %>
  </div>
  <div class="field">
    <%= f.label :arbeitspaketende %><br>
    <%= f.date_select :arbeitspaketende %>
  </div>
  <div class="field">
    <%= f.label :arbeitspaketnr %><br>
    <%= f.number_field :arbeitspaketnr %>
  </div>
  <div class="field">
    <%= f.label :arbeitspaketkuerzel %><br>
    <%= f.text_field :arbeitspaketkuerzel %>
  </div>
  <div class="field">
    <%= f.label :eingangsdokumente %><br>
    <%= f.text_field :eingangsdokumente %>
  </div>
  <div class="field">
    <%= f.label :ausgangsdokumente %><br>
    <%= f.text_field :ausgangsdokumente %>
  </div>
  <div class="field">
    <%= f.label :aufgabeid %><br>
    <%= f.number_field :aufgabeid, :value => @aid, :readonly=> true%>
  </div>
  <div class="field">
    <%= f.label :verantwortlichkeitenid %><br>
    <%= f.number_field :verantwortlichkeitenid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
