<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>jOrgChart - A jQuery OrgChart Plugin</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../assets/css/jquery.jOrgChart.css"/>
    <link rel="stylesheet" href="../assets/css/custom.css"/>
    <link href="../assets/css/prettify.css" type="text/css" rel="stylesheet" />

    <script type="text/javascript" src="../assets/javascripts/prettify.js"></script>
    
    <!-- jQuery includes -->
    <script type="text/javascript" src="../assets/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/javascripts/jquery-ui.min.js"></script>
    
    <script src="../assets/javascripts/jquery.jOrgChart.js"></script>

    <script>
    jQuery(document).bind('page:change', function() {
        $("#org").jOrgChart({
            chartElement : '#chart',
            dragAndDrop  : true
        });
    });
    </script>
  </head>




<h1>Work Breakdown Structure</h1>
  
  <ul id="org" style="display: none;">   
    <% @projekts.each do |projekt| %>
      <% if projekt.projektleiter == current_user.email %> 
        <li> 
          <%= projekt.projektname %>  
          <!-- Ebene 1 -->
          <ul>
            <% @aufgaben.each do |aufgabe| %>
              <% if projekt.id == aufgabe.projektsid && aufgabe.aufgabenvorgaenger ==nil %>
                <% @vorgaenger1 = aufgabe.id %>
                <% @nachfolger1 = Aufgaben.find(:all, :conditions => [ "aufgabenvorgaenger = ?", aufgabe.id]) %>
                <li> 
                  <%= aufgabe.aufgabenname %> 
                  <% if !@nachfolger1.present? %> <!-- Keine Aufgabe als Nachfolger vorhanden (APs anzeigen)-->
                    <%= link_to '2', new_arbeitspaket_path(:aufgabeid=>aufgabe.id), :class=>"icon-plus" %>

                    <!-- Arbeitspakete für Aufgaben der Ebene 1 -->
                    <ul>
                      <% @arbeitspakets.each do |arbeitspaket| %>
                        <% if aufgabe.id == arbeitspaket.aufgabeid %>     
                            <li> 
                               <%= arbeitspaket.arbeitspaketname %> 
                            </li>                        
                        <% end %>
                      <% end %>
                    </ul>


                  <% else %> <!-- Aufgabe als Nachfolger vorhanden -->

                    <!-- Ebene 2 -->
                    <ul>
                      <% @aufgaben.each do |aufgabe| %>
                        <% if projekt.id == aufgabe.projektsid && aufgabe.aufgabenvorgaenger ==@vorgaenger1 %>
                          <% @vorgaenger2 = aufgabe.id %>
                          <% @nachfolger2 = Aufgaben.find(:all, :conditions => [ "aufgabenvorgaenger = ?", aufgabe.id]) %>
                          <li> 
                            <%= aufgabe.aufgabenname  %> 
                            <% if !@nachfolger2.present? %> <!-- Keine Aufgabe als Nachfolger vorhanden (APs anzeigen)-->
                              <%= link_to '2', new_arbeitspaket_path(:aufgabeid=>aufgabe.id), :class=>"icon-plus" %>

                              <!-- Arbeitspakete für Aufgaben der Ebene 2 -->
                              <ul>
                                <% @arbeitspakets.each do |arbeitspaket| %>
                                  <% if aufgabe.id == arbeitspaket.aufgabeid %>     
                                      <li > 
                                        <%= arbeitspaket.arbeitspaketname %> 
                                      </li>                        
                                  <% end %>
                                <% end %>
                              </ul>

                            <% else %> <!-- Aufgabe als Nachfolger vorhanden -->

                              <!-- Ebene 3 -->
                              <ul>
                                <% @aufgaben.each do |aufgabe| %>
                                  <% if projekt.id == aufgabe.projektsid && aufgabe.aufgabenvorgaenger ==@vorgaenger2%>
                                    <% @vorgaenger3 = aufgabe.id %>
                                    <% @nachfolger3 = Aufgaben.find(:all, :conditions => [ "aufgabenvorgaenger = ?", aufgabe.id]) %>
                                    <li> 
                                      <%= aufgabe.aufgabenname  %>   
                                      <%= link_to '', new_arbeitspaket_path(:aufgabeid=>aufgabe.id), :class=>"icon-plus" %>

                                      <!-- Arbeitspakete für Aufgaben der Ebene 3 -->
                                      <ul>
                                        <% @arbeitspakets.each do |arbeitspaket| %>
                                          <% if aufgabe.id == arbeitspaket.aufgabeid %>     
                                              <li> 
                                                <%= arbeitspaket.arbeitspaketname %> 
                                              </li>                         
                                          <% end %>
                                        <% end %>
                                      </ul>

                                    </li>
                                  <% end %>
                                <% end %>
                              </ul>

                            <% end %>
                          </li>
                        <% end %>
                      <%end%>
                    </ul>

                  <% end %>
                </li>
              <%end%>
            <%end%>
          </ul>
        </li> 
      <% end %>
    <% end%>
  </ul>
 
   <div id="chart" class="orgChart"></div>  
    
  
 <script>
    $(document).ready(function() {
     $(".expand").click(function(e) {
        $(this).toggleClass("expanded");
        $(this).children("ul:first").slideToggle("300");
        e.stopPropagation();
     }); 
    }); //$(document).ready
  </script>



