<!DOCTYPE html>
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <title>jOrgChart - A jQuery OrgChart Plugin</title>
              <title>jOrgChart - A jQuery OrgChart Plugin</title>
    <link rel="stylesheet" href="/assets/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/jquery.jOrgChart.css"/>
    <link href="/assets/prettify.css" type="text/css" rel="stylesheet" />

    
       <script src="/assets/prettify.js"></script>

    <script src="/assets/jquery.jOrgChart.js"></script>




  <script>
    jQuery(document).bind('page:change', function() {
        $("#org").jOrgChart({
            chartElement : '#chart',
            dragAndDrop  : true
        });
    });
  </script>

<style>
media="all"
form {
margin: 0 0 0px;
}
form {
margin: 0 0 0px;
}
form {
margin: 0 0 0px;
}
form {
margin-bottom: 0px;
}
</style>


</head>



<% if @projekts==nil || @projekt==nil %> 
  <% flash[:notice] ="Sie sind noch keinen Projekt zugeordnet oder haben kein Projekt erstellt" %>
<% else %>

 <div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title" style ="font-family: FontAwesome;font-weight: bold;">Work Breakdown Structure</h2>
  </div>
  <div class="panel-body">
   
  <div class="dropdown">
  <button class="btn dropdown-toggle sr-only" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Projekt ausw채hlen ...
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">

        <% @projekts.each do |projekte| %>
            <li> 
            <li> <%= link_to  projekte.projektname, aufgabens_path(:id=>projekte.id),'data-no-turbolink' => true%></li>   
        <% end %>
      </ul>
    </div>
  </div>
  </div>


<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title" style ="font-family: FontAwesome;font-weight: bold;">Projektname: <%= @projekt.projektname %> </h3>
  </div>
<div class="panel-body">
  <ul id="org" style="display: none;">   
      <li> 
        <span  style ="font-family: FontAwesome;font-weight: bold;"> <%= @projekt.projektname %> </span>
        <!-- Ebene 1 -->
        <ul>
          <% @aufgaben.each do |aufgabe| %>
            <% if @projekt.id == aufgabe.projektsid && aufgabe.aufgabenvorgaenger ==nil %>
              <% @vorgaenger1 = aufgabe.id %>
              <% @nachfolger1 = Aufgaben.find(:all, :conditions => [ "aufgabenvorgaenger = ?", aufgabe.id]) %>
              <li> 
                <span  style ="font-family: FontAwesome;font-weight: bold;"> <%= aufgabe.aufgabenname %> </span>
                <% if !@nachfolger1.present? %> <!-- Keine Aufgabe als Nachfolger vorhanden (APs anzeigen)-->
                 <br>
                 <%= link_to '+', new_arbeitspaket_path(:aufgabeid=>aufgabe.id,:pid=>@projekt.id),:class => "btn btn-success btn-mini icon-white " %> 

                  <!-- Arbeitspakete f체r Aufgaben der Ebene 1 -->
                  <ul>
                    <% @arbeitspakets.each do |arbeitspaket| %>
                      <% if aufgabe.id == arbeitspaket.aufgabeid %>     
                          <li style= "border-color: green"> 
                             <% if arbeitspaket.arbeitspakettyp == "Standard" %>
                                   <span  style="color:blue; font-family: FontAwesome;font-weight: bold;"><%= arbeitspaket.arbeitspaketname %> </span> 
                                    <% end %>
                                    <% if arbeitspaket.arbeitspakettyp == "Milestone" %>
                                    <span  class=" icon-map-marker", style="color:blue; font-family: FontAwesome;font-weight: bold;"> <%= arbeitspaket.arbeitspaketname %> </span>
                                    <% end %>
                                    <% if arbeitspaket.arbeitspakettyp == "Release" %>
                                    <span  class=" icon-star-empty", style="color:blue; font-family: FontAwesome;font-weight: bold;"> <%= arbeitspaket.arbeitspaketname %> </span>
                                    <% end %> 
                                <br>
                                    <%= button_to '-', arbeitspaket,  method: :delete, data: { confirm: 'Are you sure?' },:class => "btn btn-danger btn-mini icon-trash" %>  
                                    <%= link_to '', edit_arbeitspaket_path(arbeitspaket,:aufgabeid=>aufgabe.id,:pid=>@projekt.id),:class => "btn btn-info btn-mini icon-wrench" %>  
                          </li>                        
                      <% end %>
                    <% end %>
                  </ul>

                <% else %> <!-- Aufgabe als Nachfolger vorhanden -->

                  <!-- Ebene 2 -->
                  <ul>
                    <% @aufgaben.each do |aufgabe| %>
                      <% if @projekt.id == aufgabe.projektsid && aufgabe.aufgabenvorgaenger ==@vorgaenger1 %>
                        <% @vorgaenger2 = aufgabe.id %>
                        <% @nachfolger2 = Aufgaben.find(:all, :conditions => [ "aufgabenvorgaenger = ?", aufgabe.id]) %>
                        <li> 
                          <span  style ="font-family: FontAwesome;font-weight: bold;"> <%= aufgabe.aufgabenname %> </span>
                          <% if !@nachfolger2.present? %> <!-- Keine Aufgabe als Nachfolger vorhanden (APs anzeigen)-->
                           <br>
                            <%= link_to '+', new_arbeitspaket_path(:aufgabeid=>aufgabe.id,:pid=>@projekt.id), :class => "btn btn-success btn-mini icon-white"  %>
                            <!-- Arbeitspakete f체r Aufgaben der Ebene 2 -->
                            <ul>
                              <% @arbeitspakets.each do |arbeitspaket| %>
                                <% if aufgabe.id == arbeitspaket.aufgabeid %>     
                                    <li style= "border-color: green" > 
                                    <% if arbeitspaket.arbeitspakettyp == "Standard" %>
                                   <span  style="color:blue;font-family: FontAwesome;font-weight: bold;"><%= arbeitspaket.arbeitspaketname %> </span> 
                                    <% end %>
                                    <% if arbeitspaket.arbeitspakettyp == "Milestone" %>
                                    <span  class=" icon-map-marker", style="color:blue; font-family: FontAwesome;font-weight: bold;"> <%= arbeitspaket.arbeitspaketname %> </span>
                                    <% end %>
                                    <% if arbeitspaket.arbeitspakettyp == "Release" %>
                                    <span  class=" icon-star-empty", style="color:blue; font-family: FontAwesome;font-weight: bold;"> <%= arbeitspaket.arbeitspaketname %> </span>
                                    <% end %>
                                   
                                      <%= button_to '-', arbeitspaket,  method: :delete, data: { confirm: 'Are you sure?' },:class => "btn btn-danger btn-mini icon-trash" %>  
                                    <%= link_to '', edit_arbeitspaket_path(arbeitspaket,:aufgabeid=>aufgabe.id,:pid=>@projekt.id),:class => "btn btn-info btn-mini icon-wrench" %>  

                                    </li>                        
                                <% end %>
                              <% end %>
                            </ul>

                          <% else %> <!-- Aufgabe als Nachfolger vorhanden -->

                            <!-- Ebene 3 -->
                            <ul>
                              <% @aufgaben.each do |aufgabe| %>
                                <% if @projekt.id == aufgabe.projektsid && aufgabe.aufgabenvorgaenger ==@vorgaenger2%>
                                  <% @vorgaenger3 = aufgabe.id %>
                                  <% @nachfolger3 = Aufgaben.find(:all, :conditions => [ "aufgabenvorgaenger = ?", aufgabe.id]) %>
                                  <li> 
                                   <span style ="font-family: FontAwesome;font-weight: bold;"> <%= aufgabe.aufgabenname %> </span>
                                     <br>
                                    <%= link_to '+', new_arbeitspaket_path(:aufgabeid=>aufgabe.id,:pid=>@projekt.id), :class => "btn btn-success btn-mini icon-white"  %>

                                    <!-- Arbeitspakete f체r Aufgaben der Ebene 3 -->
                                    <ul>
                                      <% @arbeitspakets.each do |arbeitspaket| %>
                                        <% if aufgabe.id == arbeitspaket.aufgabeid %>     
                                          <li style= "border-color: green"> 
                                            <% if arbeitspaket.arbeitspakettyp == "Standard" %>
                                              <span  style="color:blue; font-family: FontAwesome;font-weight: bold;"><%= arbeitspaket.arbeitspaketname %> </span> 
                                            <% end %>
                                            <% if arbeitspaket.arbeitspakettyp == "Milestone" %>
                                              <span  class=" icon-map-marker", style="color:blue; font-family: FontAwesome;font-weight: bold;"> <%= arbeitspaket.arbeitspaketname %> </span>
                                            <% end %>
                                            <% if arbeitspaket.arbeitspakettyp == "Release" %>
                                              <span  class=" icon-star-empty", style="color:blue; font-family: FontAwesome;font-weight: bold;"> <%= arbeitspaket.arbeitspaketname %> </span>
                                            <% end %>
                                            <br>
                                             <%= button_to '-', arbeitspaket,  method: :delete, data: { confirm: 'Are you sure?' },:class => "btn btn-danger btn-mini icon-trash" %>  
                                    <%= link_to '', edit_arbeitspaket_path(arbeitspaket,:aufgabeid=>aufgabe.id,:pid=>@projekt.id),:class => "btn btn-info btn-mini icon-wrench" %> 
                                            </li>                         
                                        <% end %>
                                      <% end %>
                                    </ul>

                                  </li>
                                <% end %>
                              <% end %>
                            </ul>

                          <% end %>
                        </li>
                      <% end %>
                    <%end%>
                  </ul>

                <% end %>
              </li>
            <%end%>
          <%end%>
        </ul>
      </li> 
  </ul>
  <div class="well sidebar-nav">
    <div id="chart" class="orgChart"></div>  
  </div > 
  </div>
  </div>
<% end %>
            
 <script>
    $(document).ready(function() {
     $(".expand").click(function(e) {
        $(this).toggleClass("expanded");
        $(this).children("ul:first").slideToggle("300");
        e.stopPropagation();
     }); 
    }); //$(document).ready
  </script>
