<%= form_for(@produktkategorie) do |f| %>
  <% if @produktkategorie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@produktkategorie.errors.count, "error") %> prohibited this produktkategorie from being saved:</h2>

      <ul>
        <% @produktkategorie.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :id=>'name'%>
  </div>
  <div class="field">

    <%= f.hidden_field :projekt_id, :value=>@projektid, :readonly => true%>
  </div>
  <div class="field">

    <%= f.hidden_field :vorgaenger_id, :value=>@vorgaenger %>
  </div>
  <div class="field">
    <%= f.submit %>
  </div>
<% end %>
