<h1>Listing produktkategories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Projekt</th>
      <th>Vorgaenger</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @produktkategories.each do |produktkategorie| %>
      <tr>
        <td><%= produktkategorie.name %></td>
        <td><%= produktkategorie.projekt_id %></td>
        <td><%= produktkategorie.vorgaenger_id %></td>
        <td><%= link_to 'Show', produktkategorie %></td>
        <td><%= link_to 'Edit', edit_produktkategorie_path(produktkategorie) %></td>
        <td>       <%= link_to('Destroy', produktkategorie, :method => :delete, data: { confirm: 'Are you sure?' }, :class => "icon-remove") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Produktkategorie', new_produktkategorie_path %>
