<p id="notice"><%= notice %></p>

<p>
  <strong>Apid:</strong>
  <%= @arbeitspaketvorgaenger.apid %>
</p>

<p>
  <strong>Apvorgaengerid:</strong>
  <%= @arbeitspaketvorgaenger.apvorgaengerid %>
</p>

<%= link_to 'Edit', edit_arbeitspaketvorgaenger_path(@arbeitspaketvorgaenger) %> |
<%= link_to 'Back', arbeitspaketvorgaengers_path %>
