<p id="notice"><%= notice %></p>

<p>
  <strong>Roadstopspart:</strong>
  <%= @roadstop.roadstopspart %>
</p>

<p>
  <strong>Roadstopsdate:</strong>
  <%= @roadstop.roadstopsdate %>
</p>

<p>
  <strong>Projektid:</strong>
  <%= @roadstop.projektid %>
</p>

<%= link_to 'Edit', edit_roadstop_path(@roadstop) %> |
<%= link_to 'Back', roadstops_path %>
