<p id="notice"><%= notice %></p>

<p>
  <strong>Roadstopspart:</strong>
  <%= @roadstop.Roadstopspart %>
</p>

<p>
  <strong>Roadstopsdate:</strong>
  <%= @roadstop.Roadstopsdate %>
</p>

<p>
  <strong>Projektid:</strong>
  <%= @roadstop.ProjektID %>
</p>

<%= link_to 'Edit', edit_roadstop_path(@roadstop) %> |
<%= link_to 'Back', roadstops_path %>
