<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title" style ="font-family: FontAwesome;font-weight: bold;">Anmelden</h2>
  </div>
  <div class="panel-body">

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.submit "Login" %></div>
<% end %>
</div>

