<h1>Listing projekts</h1>

<table>
  <thead>
    <tr>
      <th>Projektname</th>
      <th>Projektleiter</th>
      <th>Projektstart</th>
      <th>Projektende</th>
      <th>Projektbeschreibung</th>
      <th>Roadstops roadstopsid</th>
      <th>Aufgaben aufgabenid</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projekts.each do |projekt| %>
      <tr>
        <td><%= projekt.Projektname %></td>
        <td><%= projekt.Projektleiter %></td>
        <td><%= projekt.Projektstart %></td>
        <td><%= projekt.Projektende %></td>
        <td><%= projekt.Projektbeschreibung %></td>
        <td><%= projekt.Roadstops_RoadstopsID %></td>
        <td><%= projekt.Aufgaben_AufgabenID %></td>
        <td><%= link_to 'Show', projekt %></td>
        <td><%= link_to 'Edit', edit_projekt_path(projekt) %></td>
        <td><%= link_to 'Destroy', projekt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Projekt', new_projekt_path %>
