<p id="notice"><%= notice %></p>

<p>
  <strong>Projektname:</strong>
  <%= @projekt.Projektname %>
</p>

<p>
  <strong>Projektleiter:</strong>
  <%= @projekt.Projektleiter %>
</p>

<p>
  <strong>Projektstart:</strong>
  <%= @projekt.Projektstart %>
</p>

<p>
  <strong>Projektende:</strong>
  <%= @projekt.Projektende %>
</p>

<p>
  <strong>Projektbeschreibung:</strong>
  <%= @projekt.Projektbeschreibung %>
</p>

<p>
  <strong>Roadstops roadstopsid:</strong>
  <%= @projekt.Roadstops_RoadstopsID %>
</p>

<p>
  <strong>Aufgaben aufgabenid:</strong>
  <%= @projekt.Aufgaben_AufgabenID %>
</p>

<%= link_to 'Edit', edit_projekt_path(@projekt) %> |
<%= link_to 'Back', projekts_path %>
