<p id="notice"><%= notice %></p>

<p>
  <strong>Projektname:</strong>
  <%= @projekt.Projektname %>
</p>

<p>
  <strong>Projektleiter:</strong>
  <%= @projekt.Projektleiter %>
</p>

<p>
  <strong>Projektstart:</strong>
  <%= @projekt.Projektstart %>
</p>

<p>
  <strong>Projektende:</strong>
  <%= @projekt.Projektende %>
</p>

<p>
  <strong>Projektbeschreibung:</strong>
  <%= @projekt.Projektbeschreibung %>
</p>


<%= link_to 'Edit', edit_projekt_path(@projekt) %> |
<%= link_to 'Back', projekts_path %>
