<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Projektmanger2014" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
      
    <!-- Le styles -->
    <link href = "../assets/css/bootstrap.css" rel="stylesheet">
    <script src  = "../assets/javascripts/jquery.js" type="text/javascript"></script>

    <%= csrf_meta_tags %>


    <%= javascript_include_tag "application" %>
    <script src="..assets/javascripts/rails.js" type="text/javascript"></script>
 </head>
  <body>
    <div class="navbar navbar-fluid-top">
      <div class="navbar-inner">
        <div class="container-fluid">


          <a class="brand" href="/">Projektmanger2014 </a>
           <% if current_user %>
              <ul class="nav">
              <li style="color:red; font-weight:bold"><%= link_to 'Home', root_path %></li> 
              <li style="color:blue; font-weight:bold"><%= link_to 'Projekte', projekts_path ,'data-no-turbolink' => true,:id=> 'Projekte'%></li>
              <li style="color:blue; font-weight:bold"><%= link_to 'WBS', aufgabens_path,'data-no-turbolink' => true, :id=> 'Aufgaben'%></li>
              <li style="color:blue; font-weight:bold"><%= link_to 'RAM', verantwortlichkeitens_path ,'data-no-turbolink' => true,:id=> 'RAM'%></li>
              <li style="color:blue; font-weight:bold"><%= link_to 'Roadmap', roadmaps_path,'data-no-turbolink' => true,:id=> 'Roadmap'%></li>
              <%if current_user.email == "admin@pm.de"%>
               <li><%= link_to 'Ressourcenverwaltung', ressourcens_path, :id=>'Aufgaben'%></li>
               <% end %>
              <li style="color:blue; font-weight:bold"><%= link_to 'Einstellungen', edit_user_registration_path %></li>  
              </ul>
                <ul class="nav pull-right" style="float: right" "text-align:right" >
               <li> <table style= "margin-top:5px"> <tr> <td> 
                 <%= current_user.email %> 
               </td><td>
                 <%= link_to  "Logout", destroy_user_session_path, :class => "btn btn-danger btn-medium icon-white ", method: :delete  %> </td></tr></table></li>
               
              </ul>

                <% else %>
                   <ul class="nav">
              <li><%= link_to 'Anmelden', new_user_session_path  %></li>
              <li><%= link_to 'Registrieren', new_user_registration_path  %></li>
              </ul>

               <%end%>
       </div>
      </div>
    </div>

    
        <!-- <div class="span9">-->

    
       
    <div class="center-block" style="margin-left:20px; margin-right:20px">
        <%= stylesheet_link_tag "application", :media => "all" %>

     <%= bootstrap_flash %>
        <%= yield %>
    </div>
  </div>
</div>

</div> <!-- /container -->

</body>
</html>